body {
    font-family: 'Proxima Nova', Georgia, sans-serif;
}

img {
	max-width: 100%;
  height: auto;
  
}

.container { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: proxima-nova;
  flex-direction: row;
  background: #A80734;
  color: white;
  font-family: sans-serif; 
  height: 80px;
  width: 100%;
  }

.header-text {
    padding-bottom: 10px; 
    padding-left: 10px;
}

  h2, h3, h4, h5 {
      color: #A80734
  }

  .hello-world-image
  .grid-image
  .font-example { 
    display: flex;
    flex-direction: row;
  }

pre {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #a80734;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.footer {
  font-size: 10px;
  display: flex;
  justify-content: flex-end;
}
